{{ define "main" }}

<section>
  <article>
    <p>
      I am a frontend engineer with extensive experience in developing design
      systems and web applications. Focused on creating scalable and efficient
      solutions, integrating various platforms and teams.
    </p>
  </article>

  <article>
    <h2>Senior Frontend Engineer at Circula from Jan 2021 till prsent</h2>
    <p>
      I am a Senior Frontend Engineer at Circula GmbH, where I work on
       developing and leading web solutions. I have been involved in implementing 
       a high-quality PDF generator and creating internal testing 
       tools using React, NextJS, and Playwright. 
      {{/*  I am currently working as a Senior Frontend Engineer at Circula GmbH, 
      helping shaping the Web platform of the product and developing internal tools
      to support developers.  */}}
    </p>
    </p>
  </article>
</section>

{{ end }}
